.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-h1 {
  font-family: 'Bungee Outline', cursive;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.App-orange {
  
  color: orange;

  animation: flicker 1.5s infinite alternate; 
}

.App-blue {
  color: rgb(18, 231, 231);
  text-shadow: 
    0 0 42px rgb(18, 231, 231),
    0 0 82px rgb(18, 231, 231),
    0 0 92px rgb(18, 231, 231),
    0 0 102px rgb(18, 231, 231),
    0 0 151px rgb(18, 231, 231);
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
    0 0 42px orange,
    0 0 82px orange,
    0 0 92px orange,
    0 0 102px orange,
    0 0 151px orange;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}