.Board {
    
    display:flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 2px;
   
    box-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff
}

.Board-row {
    display: inline-block; 
    width: auto;
}